<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <style>
        body {
            background-image: url("{% static 'img/22.jpg' %}");
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h1 style="color: red">Hello! It seems you have found the secret level.
            Congratulations on becoming a member of the Anti-itorang club</h1>
    </div>

    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%; background: green;">
            Left Div
        </div>
        <div style="flex-grow: 1; background: blue;">
            Right Div
        </div>
    </div>

    <div class="container" style="display: flex; height: 100px;">
        <button onclick="location.href = '/home'">@ Go back @</button>
    </div>

    <br><br><br><br><br><br>
    <footer>
      <p> Itorang noob hardstuck diamond. NOOOOOOOB!!!!!!!!<br>
      <a href="mailto:yourmother@black.com">yourmother@black.com</a></p>
    </footer>
</body>
</html>