<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <style>
        body {
            background-image: url("{% static 'login/../../static/img/scuderia.jpg' %}");
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h1 style="color: red">MAX SHIT!!! BOOOOO!!! MAX SUCKS!!!</h1>
        <form>
            <div class="container">
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <div id="parent">
      <div class="left">
          <h1>Hello</h1>
      </div>
      <div class="left">
          <h1>Hello</h1>
      </div>
      <div class="right">
          <h1>Hello</h1>
      </div>
      <div class="clear-fix"></div>
    </div>

    <br><br><br><br><br><br>
    <footer>
      <p> Itorang noob hardstuck diamond. NOOOOOOOB!!!!!!!!<br>
      <a href="mailto:yourmother@black.com">yourmother@black.com</a></p>
    </footer>
</body>
</html>